html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
table{
    background-color:whitesmoke;
}
td{
    text-decoration:none;
}
p {
    background-color: #FFD700;
    text-decoration:none;
    border-radius: 50px;
    width: fit-content;
}