@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jockes Application</h1>
    <h5>Everyone has a sense of humor. If you don't laugh at jokes, you probably laugh at opinions!</h5>
</div>
